body {
    padding: 30px;
}

section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 30px;
}

.component-apresentation{
    display: flex;
    flex-direction: column;
    border: 1px solid #CED2DB;
    border-radius: 10px;
    padding: 15px;

    text-align: center;
}

.component-apresentation__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 200px;
}